.containerr {
  background-color: #e1ebf7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178, 178, 178);
  border-radius: 10px;
}



.box {
  border: 1px solid black;
}

.chatbox {
  height: 40em;
  width: 25em;
  padding: 0rem;
  border-radius: 0.5rem;
  background-color: #5d6a76;
}
.mainChatHeader{
  padding: 0.6rem;
  background-color: #5d6a76;
}

.chat {
  height: 75%;
  padding: 0.0rem;
 
  background-color: #f6f7f8;
}

.chatBody{
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.recMsg {
  background-color: #ffffff;
  color: #4f5a63;
  margin-right: auto;
  margin-left: 0.5rem;
 
}
.sendMsg {
  background-color: #117bfd;
  color: #ffffff;
  margin-left: auto;
 
}
.recMsgOuter {
  padding-right: 3rem;
  
}
.sendMsgOuter {
  padding-left: 3rem;
}
.profileIcon{
  height: 1.5rem;
  
}
.resMsgHeadder{
  display: flex;
  align-items: center;
  
}

/* ########################################## */
.msgName{
 
  color: #82888d;
  display: flex;
  font-size: 0.8rem;
  justify-content: start;
  margin-left: 0.4rem;
}
.toastNotification{
  font-size: 0.7rem;
  color: rgb(165, 162, 162);;
  /* background-color: rgb(224, 222, 222); */
  padding:  0rem 0.5rem 0rem 0.5rem;
  border-radius: 1rem;
}
.toastNotificationOuter{
  display: flex;
  justify-content: center;
  margin: 0.2rem;
}



/* ########################################## */
.msg {
  /* margin-top: 0.25rem; */
  margin-bottom: 0.25rem;
  border-radius: 1.5rem;
  padding: 0.35rem 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: left;
  font-family: Helvetica, Sans-Serif;
  font-size: 0.8rem;
}


.inputBox {
  height: 10%;
  padding: 0.8rem;
 
  overflow: hidden;
}


